@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start organizing your tasks and stay productive!</p>
    <p>Get started by creating your first to-do item.</p>
    <a href="/TodoItems/Welcome" button type="button" class="btn btn-primary btn-lg">Create New To-Do Item</a>

</div>
